[Unit]
Description=Monero Full Node
BindTo=tor.service

[Service]

# Clearnet config
#
Environment=DNS_PUBLIC=tcp
Type=forking
PIDFile=%h/.cache/monerod/monerod.pid
ExecStart=/usr/bin/monerod --config-file %h/.config/monerod/bitmonero.conf \
    --detach --pidfile %h/.cache/monerod/monerod.pid

Restart=always

[Install]
WantedBy=xsession.target
