#!/bin/sh

{{- if eq .chezmoi.hostname "jalio-desk" }}
# Set to correct resolution on desktop
{{- end }}
xrandr --output DP-0 --mode 2560x1440 --rate 144
# set wallpaper
xwallpaper --zoom ~/wallpaper.jpg &
# Use Xresources colors/settings on startup
xrdb ${XDG_CONFIG_HOME:-$HOME/.config}/x11/Xresources
# picom for transparency and blur
picom -b{{if eq .chezmoi.hostname "jalio-desk"}} --experimental-backend {{end}}
# Speed typing rate up    
xset r rate 300 50 & 
# Remove mouse when idle    
xbanish & 
# Fixes xdotool using wrong keyboard layout
setxkbmap -synch  
# Setup japanese ime
fcitx-autostart
# should screw up clipboard for fcitx
xclip -sel p </dev/null
xclip -sel c </dev/null

# Open apps on startup
{{- if eq .chezmoi.hostname "jalio-desk" }}
st&
st&
st&
{{- end }}
brave&
#firejail firefox&
